html, body {
    height: 100%;
    margin: 0px;
}

.container {
    padding: 10px 10px;
    width: calc(100% - 20px);
    min-height: 300px;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    text-align: right;
    height: 38px;;
}

.header span {
    font-weight: bold;
    font-size: 1.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.separator {
    margin-top: 10px;
    width: 100%;
}

.separator_bottom {
    width: 100%;
    height: 20px;
}

.first {
    margin-top: 30px;    
}

.circleBlow {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: transparent;
}

.first input {
    margin-left: auto;
    margin-right: 5px;
}

.second {
    margin-top: 8px;
}

.third {
    margin-top: 8px;
}

.circleError {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: auto;
}

.blowsNumber {
    width: 45px;
    text-align: center;
}

.blowsNumber:focus {
    outline: none;
}


.info_div_left {
    text-align: center;
    width: 53px;
    outline: 1px solid thistle;
}

.soundVolume {
    margin-left: 12px;
    margin-right: 10px;
    width: 120px;
}

.soundVolume:focus {
    outline: none;
}

.soundVolumeIndicator {
    width: 24px;
}

.select {
    width: 96px;
    margin-left: 15px;
    padding-left: 10px;
}

.select:focus {
    outline: none;
}

.soundButton {
    margin-left: 15px;
    width: 96px;
    height: 19px;
    opacity: 0.8;
}

.ml-a {
    margin-left: auto;
}

.delays {
    width: 45px;
    text-align: center;
    margin-left: 1px;
}

.delays:focus {
    outline: none;
}

.delays_lable_left {
    margin: 0 5px 0 15px;
    width: 144px;
    text-align: right;
}

.last {
    margin-top: auto;
}

.last button {
    width: 96px;
    height: 20px;
}

.last button:nth-child(2) {
    margin-right: auto;
    margin-left: 15px;
}

.loginFrame {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.loginFrame div {
    display: inline-block;
    width: 100px;
    margin-bottom: 7px;
}
.loginFrame input {
    width: 170px;
    margin-bottom: 7px;
    margin-left: auto;
}
.loginFrame button {
    width: 70px;
    margin-top: 15px;
    margin-left: auto;
}

/* Note SII - max-width: 640px, Tab: 1024 */
@media (max-width: 1024px) { /* активно, если меньше или равно */
    
    .second { /* вторая строка */
        margin-top: 20px;
    }
    
    .third { /* третья строка */
        margin-top: 20px;
    }
    
    .separator {
        margin-top: 20px; 
    }
    
    .max_w_1024_mtb-a {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

@media (min-height: 425px) { /* активно, если больше или равно */
    .separator_bottom {
        display: none;
    }
}

@media (min-width: 1025px) { /* активно, если больше или равно */
    .row {
        width: 400px;
    }
}

@media (min-width: 361px) { /* активно, если больше или равно */
    .blowsNumber {
        margin-left: auto;
    }
        
    .info_div_left {
        margin-left: auto;
    }
    
}


